<div class="dashboard" dir="rtl">
    <div class="row">
        <div class="card info">
            <div class="card-header">عرض المشاريع</div>
            <div class="card-body">
                <button (click)="projectsoperations()">عرض</button>
            </div>
        </div>

        <div class="card info">
            <div class="card-header">عرض الخدمات</div>
            <div class="card-body">
                <button (click)="serviceoperations()">عرض</button>
            </div>
        </div>
        <div class="card info">
            <div class="card-header">عرض عناصر الخدمة</div>
            <div class="card-body">
                <button (click)="servicetypesoperations()">عرض</button>
            </div>
        </div>
            <div class="card info">
            <div class="card-header">عرض صور المشاريع</div>
            <div class="card-body">
                <button (click)="projectimagesoperations()">عرض</button>
            </div>
        </div>    
    </div>
</div>
