<div class="page-center">
  <div class="service-form-wrapper">
    <form [formGroup]="serviceForm" (ngSubmit)="submit()">
      
      <div *ngIf="message" 
           [ngClass]="{'alert': true, 'success': messageType==='success', 'error': messageType==='error'}"
           class="message-box">
        {{ message }}
      </div>

      <h3 class="form-title">تعديل نوع الخدمة</h3>

      <div class="form-group">
        <label>اسم الخدمة</label>
        <select class="form-control" formControlName="serviceName">
          <option value="" disabled>اختر الخدمة</option>
          <option *ngFor="let service of ourServicesList" [value]="service.id" 
                  [selected]="service.id === serviceForm.value.serviceName">
            {{ service.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>وصف نوع الخدمة</label>
        <textarea class="form-control" formControlName="description" placeholder="أدخل وصف نوع الخدمة"></textarea>
      </div>

      <div class="form-group">
        <label>صورة الخدمة</label>
        <input type="file" class="form-control" (change)="onFileSelect($event)" formControlName="image" />
      </div>

      <button type="submit" class="btn-submit" [disabled]="serviceForm.invalid">تحديث نوع الخدمة</button>
    </form>
  </div>
</div>
